<!DOCTYPE html>
<html>
<head>
  <title>Instapic</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "partials/header" %>

  <div class='container'>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 text-center">
        <% flash.each do |name, msg| -%>
          <%= content_tag :div, msg, class: "alert alert-#{name}", role: "alert" %>
        <% end -%>
      </div>
    </div>

    <%= yield %>
  </div>
  <%= render "partials/footer" %>
</body>
</html>
